@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

:root {
    --c-mist: #000000;
    --c-blue: #663dc4;
    --c-navy: #10163f;
    --c-violet: #6c3fb5;
    --c-void: #05060d;
    --font-display: "Trirong", serif;
    --font-body: "Trirong", serif;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 80px;
}

body {
    margin: 0;
    background: linear-gradient(180deg,
            var(--c-mist) 0%,
            var(--c-violet) 18%,
            var(--c-navy) 34%,
            var(--c-violet) 58%,
            var(--c-void) 100%);
    font-family: var(--font-body);
}